*.o
obj/
*.kdev4
build/.cmake/api/v1/query/client-kdevelop/query.json
build/.cmake/api/v1/reply/cmakeFiles-v1-020c8155eb3b6dae1a46.json
build/.cmake/api/v1/reply/codemodel-v2-9f91704047177ddd320e.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-12-25T16-24-03-0260.json
build/.cmake/api/v1/reply/target-linux-shell-tool-Debug-84e4e6d23ff07219f5d8.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.30.5/CMakeCCompiler.cmake
build/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.5/CMakeSystem.cmake
build/CMakeFiles/3.30.5/CompilerIdC/a.out
build/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/compile_commands.json
build/
*.o
shell_tool
